.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > div {
    margin-bottom: 15px;
}
  

/* CSS del boton para tirar dados sacado de: https://getcssscan.com/css-buttons-examples*/
.button-50 {
  appearance: button;
  background-color: #d4a509;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #f67802 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'DotGothic16', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-weight : bold ;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(197, 120, 4, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.dice-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
