.button-50 {
    appearance: button;
    background-color: #d4a509;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #f67802 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: 'DotGothic16', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    font-weight : bold ;
  }
  
.button-50:focus {
    text-decoration: none;
}
  
.button-50:hover {
    text-decoration: none;
}
  
.button-50:active {
    box-shadow: rgba(197, 120, 4, 0.125) 0 3px 5px inset;
    outline: 0;
}
  
.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}
  
@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

   
ul {
    position: relative;
    width: 850px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
}


ul li {
    display: flex;
    padding:  10px 20px;
    margin:  5px 0;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.66);
    font-size: 35px;
    color: #fff;
    border-radius: 8px;
    border: 5px solid black;
}

ul li span {
    width: 550px;
    margin-left: 20px;
}

.icono_gato {
  width: 50px;
}

.titulo {
  font-weight: 600;
  font-size: 90px;
  letter-spacing: -0.01em;
  line-height: 97px;
  text-align: center;
  color: white;
  text-shadow: 0 0 0.2em black, 0 0 0.4em black, 0 0 0.6em black;
}

.aviso {
  font-size: 50px;
  line-height: 97px;
  text-align: center;
  color: white;
  background-color: #8C2B34;
  border: 5px solid black;
  border-radius: 10px;
  padding: 0 1em;
  margin-bottom: 20px;
}

.tabla {
  background-color: rgba(0, 0, 0, 0.66);
  border: 5px solid black;
  border-radius: 10px;
  width: 800px;
  height: 600px;
  opacity: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container_aviso {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.delete_button {
  width: 50px;
  margin-left: 20%;
}

